body {
	margin: 0;
	height: 100vh;
	width: 100vw;
	background-color: #F0F6F7;	
}

.container {
	sdisplay: flex;
	flex-direction: column;
	font-family: 'Saira', sans-serif;	
}

.header {
	top: 0;
	position: fixed;
	z-index: 1;
}
#map-item {
	position: fixed;
	
  	height: 50vh;
  	width: 100vw;
  	color: #800000;
	font-size: 20px;
	text-align: center;
}

h1 {
	color: #2D7262;
	text-align: center;
	padding: 0 10px;
}


.sidebar-button {
	cursor: pointer;
}

/* SEARCH */

.search {	
	top: 470px;	
	position: relative;
	z-index: 10;
}

input {
	width: 100%;
	padding: 10px;
	border-style: none;
	font-family: 'Saira', sans-serif;
	color: 8D6C80;
}
span {
	font-size: 30px;
	cursor: pointer;
}

button {
	width: 100%;
	padding: 8px 5px;	
	border: 0.02px solid #E6F0D9;
	color: #667E6F;
	background-color: #F0F6F7;
	font-family: 'Saira', sans-serif;	
}

button:hover {
	background-color: #fff;
	color: ##D9E7C8;
}
/*SIDEBAR LIST*/

.locations {
	position: relative;
	z-index: 100;
}
.locations::-webkit-scrollbar {
    width: 1em;
}
 
.locations::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
 
.locations::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

/* ERROR */

.error {
	margin-top: 50px;
	color: #800000;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}

/*MEDIA QUERY*/

@media screen and (max-width: 460px) {

	#map-item {
		width: 100vw;
		
		font-size: 15px;
	}
	h1 {
		font-size: 20px;
	}
}
@media screen and (min-width: 461px) {

		#map-item{
		display: inline-block;
	}
	.search {
		display: inline-block;
	}
}